services:
  # DATABASE: MongoDB
  mongodb:
    image: mongo:latest
    container_name: cinematch_db
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  # BACKEND: Python (FastAPI)
  backend:
    build: ./backend
    container_name: cinematch_backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
      - ./Dati-prova-letterbox:/data
      - ./Dati_film:/data/catalog
    environment:
      - MONGODB_URL=mongodb://mongodb:27017
      - MOVIES_CSV_PATH=/data/catalog/movies_final.csv
    depends_on:
      - mongodb

  # FRONTEND: React (Vite)
  frontend:
    build: ./cinematch-dashboard
    container_name: cinematch_frontend
    ports:
      - "5173:5173"
    volumes:
      - ./cinematch-dashboard:/app
      - /app/node_modules
    depends_on:
      - backend

  # SPARK MASTER
  spark-master:
    image: apache/spark:latest
    container_name: spark_master
    environment:
      - SPARK_MODE=master
      - SPARK_RPC_AUTHENTICATION_ENABLED=no
      - SPARK_RPC_ENCRYPTION_ENABLED=no
      - SPARK_LOCAL_STORAGE_ENCRYPTION_ENABLED=no
      - SPARK_SSL_ENABLED=no
    ports:
      - "8080:8080"
      - "7077:7077"

  # SPARK WORKER
  spark-worker:
    image: apache/spark:latest
    container_name: spark_worker
    environment:
      - SPARK_MODE=worker
      - SPARK_MASTER_URL=spark://spark-master:7077
      - SPARK_RPC_AUTHENTICATION_ENABLED=no
      - SPARK_RPC_ENCRYPTION_ENABLED=no
      - SPARK_LOCAL_STORAGE_ENCRYPTION_ENABLED=no
      - SPARK_SSL_ENABLED=no
    depends_on:
      - spark-master

  # GRAFANA: Dashboard Analytics (usa Infinity plugin)
  grafana:
    image: grafana/grafana:latest
    container_name: cinematch_grafana
    ports:
      - "3001:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_SECURITY_ALLOW_EMBEDDING=true
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Viewer
      - GF_INSTALL_PLUGINS=yesoreyeram-infinity-datasource
    volumes:
      - grafana_data:/var/lib/grafana
    depends_on:
      - backend

  # OLLAMA: AI per generazione Quiz
  ollama:
    image: ollama/ollama:latest
    container_name: cinematch_ollama
    ports:
      - "11434:11434"
    volumes:
      - ollama_data:/root/.ollama
    environment:
      - OLLAMA_HOST=0.0.0.0
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [ gpu ]

volumes:
  mongo_data:
  grafana_data:
  ollama_data:
